:root {
    --button-blue: linear-gradient(135deg, #63E1D9 -42.11%, #34A0CD 100%);
    --link-blue: #62E0D9;
    --footer-bg: #0B1524;
    --bgcolor: #1B2330;
}

.btnblue {
    background-image: var(--button-blue);
}
.linkblue {
    color: var(--link-blue);
}
.footerbg {
    background-color: var(--footer-bg);
}
.bgcolor {
    background-color: var(--bgcolor);
}

body {
    background-color: #1B2330;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* nav */

span.logo {
    display: inline-block;
    cursor: pointer;
}

.navigation a:hover {
    text-decoration: underline !important;
    color: #fff !important;
    font-weight: 700;
}


/* main */

.bgcurvy {
    position: absolute;
    top: 4.4%;
    left: 0;
    z-index: -10;
    width: 100%;
}
.backgroundblack {
    position: absolute;
    top: 7.8%;
    left: 0;
    z-index: -10;
    background-color: #181f2b;
    width: 100%;
    height: 100%;
}


/* getstarted */
.getStartedLink:hover {
    background-image: none;
    background-color: #8ADAE3;
    ;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
}
.icon-img {
    width: auto;
    height: 80px;
}

.stayproductiveimg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.arrow-img {
    height: 24px;
    width: 24px;
}
.seehow:hover {border-bottom-color: #fff !important;}
.seehow:hover * {
    color: #fff;
}
.seehow:hover img {
    /* filter: invert(0%) sepia(91%) saturate(7493%) hue-rotate(180deg) brightness(103%) contrast(100%); */
}

/* profiles */
section.profiles {
    padding-bottom: 340px;
}
.profilebox {
    background-color: #202A3C;
    border-radius: 3.9px;
    box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.05);
}
.inner-profile-img img {
    height: 24px;
    width: 24px;
}
.quotes-mobile {
    position: absolute;
    top: -18px;
    left: 7px;
    width: 30px;
    height: 20px;
}

/* footer */
.footer-logo {
    width: 108px;
    height: 31px;
    cursor: pointer;
}
.about-link:hover {
    font-weight: 700 !important;
}

.widthFixer {
    width: 90px;
}

.infoparagprafh {
    max-width: 340px;
}

.socialicon:hover {
    cursor: pointer;
}

.getEarlyAccess {
    position: absolute;
    left: 20%;
    top: -20%;
}