:root {
    --button-blue: linear-gradient(135deg, #63E1D9 -42.11%, #34A0CD 100%);
    --link-blue: #62E0D9;
}

.btnblue {
    background-image: var(--button-blue);
}
.linkblue {
    color: var(--link-blue);
}

body {
    background-color: #1B2330;
    font-family: Raleway;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* nav */

span.logo {
    display: inline-block;
    cursor: pointer;
}

.navigation a:hover {
    text-decoration: underline !important;
    color: #fff !important;
    font-weight: 700;
}


/* main */

/* getstarted */
.getStartedLink:hover {
    background-image: none;
    background-color: #8ADAE3;
    ;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 80px;
}
.icon-img {
    width: auto;
    height: 80px;
}

.stayproductiveimg {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.arrow-img {
    height: 24px;
    width: 24px;
}
.seehow:hover {border-bottom-color: #fff !important;}
.seehow:hover * {
    color: #fff;
}
.seehow:hover img {
    /* filter: invert(0%) sepia(91%) saturate(7493%) hue-rotate(180deg) brightness(103%) contrast(100%); */
}